@font-face {
    font-family: 'SansationRegular';
    src: url('Sansation_Regular-webfont.eot');
    src: url('Sansation_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Sansation_Regular-webfont.woff') format('woff'),
         url('Sansation_Regular-webfont.ttf') format('truetype'),
         url('Sansation_Regular-webfont.svg#SansationRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBold';
    src: url('Sansation_Bold-webfont.eot');
    src: url('Sansation_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Sansation_Bold-webfont.woff') format('woff'),
         url('Sansation_Bold-webfont.ttf') format('truetype'),
         url('Sansation_Bold-webfont.svg#SansationBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	margin:0px;
	background-color: rgba(0, 0, 0, 0);
	font-family: 'SansationRegular';
	color:#FFFFFF;
}

#board {
	position:absolute;
	top:-200px;
	left:0px;
	width:500px;
	height:134px;
	background-image:url('../images/scoreboard.png');
}

#mText3 {
	color: #000;
	position: absolute;
	left: 10px;
	top: 17px;
	width: 235px;
	font-size: 30px;
	font-family: 'SansationBold';
	text-align: left;
}
#mText4 {
	color: #000;
	position: absolute;
	left: 430px;
	top: 29px;
	width: 47px;
	font-size: 11px;
	font-family: 'SansationBold';
	text-align: center;
	height: 23px;
}

#pName1 {
	color: #000;
	position: absolute;
	left: 70px;
	top: 61px;
	width: 350px;
	font-size: 20px;
	text-align: left;
}

#pFlag1 {
	position: absolute;
	left: 10px;
	top: 59px;
}

#pScore1 {
	color: #000;
	position: absolute;
	left: 430px;
	top: 61px;
	width: 47px;
	font-size: 20px;
	text-align: center;
}

#pFlag2 {
	position: absolute;
	left: 10px;
	top: 95px;
}

#pName2 {
	color: #000;
	position: absolute;
	left: 70px;
	top: 98px;
	width: 350px;
	font-size: 20px;
	text-align: left;
}

#pScore2 {
	color: #000;
	position: absolute;
	left: 430px;
	top: 98px;
	width: 47px;
	font-size: 20px;
	text-align: center;
}
